/* Resetting default button styles */
* {
    background-color: rgb(42, 37, 37);
    color: white;
    text-align: center;
}

button {
    padding: 4px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #0056b3;
}

/* Adjusting form layout */
h1 {
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
}

/* Adjusting image styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
    margin-top: 10px;
}